a {
	color: #686c73;
}
.page-titles {
	padding-right: 180px;
}
.new-goal {
	top: -50px;
}
.total-price {
	position: relative;
	top: 15px;
	font-weight: lighter;
	color: #47525d;
}
.pie-chart {
  height: 300px;
}
.ti-arrow-up {
  font-size: 36px;
  font-weight: 100;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
	float: left;
}
.text-black {
	color: #3d464d;
	font-weight: bold;
}
.fa-cog {
	padding: 5px 6.5px;
    display: inline-block;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    border: 1px solid #99abb4;
}
.top-progress-control {
	padding-left: 100px;
	padding-right: 100px;
}
.be-progress-control {
	padding-left: 150px;
	padding-right: 50px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/ Rounded sliders /
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media screen and (max-width: 480px) {
	.top-progress-control {
		padding-left: 10px;
		padding-right: 10px;
	}
	.be-progress-control {
		padding-left: 0px;
		padding-right: 0px;
	}
	.stats-row .stat-item {
		padding-right: 0px;
	}
	.mb-btn-1 {
		position: relative;
		top: 290px;
	}
	.mb-btn-2 {
		position: relative;
		top: 210px;
	}
	.mb-text-right {
		text-align: right;
	}
}