a {
	color: #686c73;
}
.c-b-all {
	border: 1px solid #e1e5eb;
}
.mat-checkbox-inner-container {
	transform: translateY(35px) !important;
	-ms-transform: translateY(35px) !important;
	-moz-transform: translateY(35px) !important;
}
.mat-checkbox-checked.mat-accent .mat-checkbox-background, 
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
	background-color: #007ee5 !important;
}
.mat-accent .mat-slider-thumb, 
.mat-accent .mat-slider-thumb-label, 
.mat-accent .mat-slider-track-fill {
	background-color: #007ee5 !important;
}
.goal-item {
	margin-left: 60px;
}
mat-slider {
	width: 100%;
}
.h-center {
	position: relative;
	left: 43%;
}
.form-control {
	max-width: 300px;
}
.spinbox {
	max-width: 200px;
	position: relative;
	padding-right: 20px;
	transform: translateY(-8px);
}
.spinbox .spinbox-input {
	min-width: 200px;
	padding-left: 4px;
	padding-right: 4px;
}
.spinbox .spinbox-buttons {
	text-align: center;
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	width: 20px;
}
.spinbox .spinbox-buttons .spinbox-up {
  position: absolute;
  top: 0;
  right: 0;
  height: 50%;
  width: 100%;
  border-left: none;
  line-height: 1;
}
.spinbox .spinbox-buttons .spinbox-down {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 50%;
  width: 100%;
  border-left: none;
  line-height: 1;
}

@media screen and (max-width: 480px) {
	.col-md-4 {
		height: 90px;
	}
}