.login-register {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
  width: 100%;
  padding: 5% 0;
  position: fixed; }

.login-box {
  width: 400px;
  margin: 0 auto; }
  .login-box .footer {
    width: 100%;
    left: 0px;
    right: 0px; }
  .login-box .social {
    display: block;
    margin-bottom: 30px; }

#recoverform {
  display: none; }

.login-sidebar {
  padding: 0px;
  margin-top: 0px; }
  .login-sidebar .login-box {
    right: 0px;
    position: absolute;
    height: 100%; }
.card-body {
  margin: auto;
  position: relative;
  transform: translateY(25%);
  -webkit-transform: translateY(25%);
  -ms-transform: translateY(25%);
  -moz-transform: translateY(25%);
}
img {
  display: inline-block;
  vertical-align: middle;
  width: 400px;
}
.login-form {
  display: inline-block;
  vertical-align: middle;
  width: 400px;
}

@media(max-width:767px) {
  .login-register {
        position: relative;
        overflow: hidden;
    }
    .login-box {
        width: 90%;
    }
}

@media screen and (max-width: 480px) {
  .card-body {
    margin: auto;
    position: relative;
    transform: translateY(3%);
    -webkit-transform: translateY(3%);
    -ms-transform: translateY(3%);
    -moz-transform: translateY(3%);
  }
}