<div class="card">
	<div class="card-body">
		<div class="row">
			<div class="col-md-4">
				<div class="text-center m-b-20">
					<h2 class="font-bold">Digital</h2>
					<h6 class="font-bold">Annual fee</h6>
					<p class="font-36 m-b-20">0.25%</p>
					<button class="btn btn-primary">Get started</button>
					<p class="font-16 m-t-20">no minimum balance</p>
				</div>
				<div class="i-d m-t-40 m-b-40">
					<div class="p-b-20">
						<i class="mdi mdi-check text-primary pull-left"></i>
						<p class="m-l-40">Automated portfolio management</p>
					</div>
					<div class="p-b-20">
						<i class="mdi mdi-check text-primary pull-left"></i>
						<p class="m-l-40">Tax-efficient investing features</p>
					</div>
					<div class="p-b-20">
						<i class="mdi mdi-check text-primary pull-left"></i>
						<p class="m-l-40">Advice across your investments</p>
					</div>
					<div class="p-b-20">
						<i class="mdi mdi-check text-primary pull-left"></i>
						<p class="m-l-40">Award-winning customer support</p>
					</div>
				</div>
				<div class="text-center font-16 p-t-30 m-b-40">Fees base on accouont balance</div>
			</div>
			<div class="col-md-4">
				<div class="text-center m-b-20">
					<h2 class="font-bold">Plus</h2>
					<h6 class="font-bold">Annual fee</h6>
					<p class="font-36 m-b-20">0.40%</p>
					<button class="btn btn-primary">Get started</button>
					<p class="font-16 m-t-20">$100,000 minimum balance</p>
				</div>
				<div class="i-d m-t-40 m-b-40">
					<div class="p-b-20">
						<i class="mdi mdi-check text-primary pull-left"></i>
						<p class="m-l-40">All the benefits of our digital plan</p>
					</div>
					<div class="p-b-20">
						<i class="mdi mdi-check text-primary pull-left"></i>
						<p class="m-l-40"><span class="font-bold">Annual</span> call with our team of CFP<small style="vertical-align: top;">&reg;</small> professionals and licensed financial experts</p>
					</div>
					<div class="p-b-20">
						<i class="mdi mdi-check text-primary pull-left"></i>
						<p class="m-l-40">Additional account monitoring by our team of licensed experts</p>
					</div>
				</div>
				<div class="text-center font-16 m-b-40">Fees base on accouont balance</div>
			</div>
			<div class="col-md-4">
				<div class="text-center m-b-20">
					<h2 class="font-bold">Premium</h2>
					<h6 class="font-bold">Annual fee</h6>
					<p class="font-36 m-b-20">0.50%</p>
					<button class="btn btn-primary">Get started</button>
					<p class="font-16 m-t-20">$100,000 minimum balance</p>
				</div>
				<div class="i-d m-t-40 m-b-40">
					<div class="p-b-20">
						<i class="mdi mdi-check text-primary pull-left"></i>
						<p class="m-l-40">All the benefits of our digital plan</p>
					</div>
					<div class="p-b-20">
						<i class="mdi mdi-check text-primary pull-left"></i>
						<p class="m-l-40"><span class="font-bold">Unlimited</span> call with our team of CFP<small style="vertical-align: top;">&reg;</small> professionals and licensed financial experts</p>
					</div>
					<div class="p-b-20">
						<i class="mdi mdi-check text-primary pull-left"></i>
						<p class="m-l-40">Additional account monitoring by our team of licensed experts</p>
					</div>
				</div>
				<div class="text-center font-16 m-b-40">Fees base on accouont balance</div>
			</div>
		</div>
	</div>
</div>