<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="user-profile">
                    <a class="waves-effect waves-dark" href="#" aria-expanded="false">
                        <img src="assets/images/users/profile.png" alt="user" />
                        <div class="notify">
                            <span class="heartbit"></span>
                            <span class="point"></span>
                        </div>
                        <div class="user-name">
                            <span class="hide-menu">Markarn Doe </span>
                        </div>
                    </a>
                </li>
                <li class="nav-devider"></li>
                <li>
                    <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']"><i class="mdi mdi-gauge"></i><span class="hide-menu">Dashboard</span></a>
                </li>
                <li>
                    <a routerLink="/goals" [routerLinkActive]="['router-link-active']"><i class="mdi mdi-bullseye"></i><span class="hide-menu">Goals</span></a>
                </li>
                <li>
                    <a routerLink="/budget" [routerLinkActive]="['router-link-active']"><i class="icon-speedometer"></i><span class="hide-menu">Budget</span></a>
                </li>
                <li>
                    <a routerLink="/spending" [routerLinkActive]="['router-link-active']"><i class="icon-pie-chart"></i><span class="hide-menu">Spending</span></a>
                </li>
                <li>
                    <a routerLink="/accounts" [routerLinkActive]="['router-link-active']"><i class="icon-briefcase"></i><span class="hide-menu">Accounts</span></a>
                </li>
                <li> 
                    <a routerLink="/transfers" [routerLinkActive]="['router-link-active']"><i class="ti-layout"></i><span class="hide-menu">Transfers</span></a>
                </li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
