<div class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="card-body">
				<span class="text-primary font-30">External Accounts</span>
				<button class="btn btn-primary pull-right">Sync New</button>
				<div class="row m-t-40">
					<div class="col-md-4">
						<div class="m-l-10 m-r-10 b-b p-l-30 p-b-20">
							<span class="text-uppercase">External Assets</span>
							<div class="font-30 m-t-10">$1,500.00</div>
							<span class="m-t-10">2 accounts</span>
						</div>
					</div>
					<div class="col-md-4">
						<div class="m-l-10 m-r-10 b-b p-l-30 p-b-20">
							<span class="text-uppercase">External Debts</span>
							<div class="font-30 m-t-10">-$300.00</div>
							<span class="m-t-10 p-b-20">1 account</span>
						</div>
					</div>
					<div class="col-md-4">
						<div class="m-l-10 m-r-10 b-b p-l-30 p-button">
							<span class="text-uppercase">Next Steps</span>
							<div class="m-t-10">
								<button class="btn btn-outline-primary">See your Retirement Plan</button>
							</div>
						</div>
					</div>
				</div>
				<div class="row p-t-30">
					<div class="col-md-2">
						<div class="text-uppercase">Automatic</div>
						<div class="bg-primary b-0 text-white m-t-10 chase">Chase</div>
					</div>
					<div class="col-md-10">
						<div>
							<span class="font-30">Chase</span>
							<span class="pull-right text-primary">Delete Form</span>
						</div>
						<div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr class="text-uppercase">
                                                <th class="text-left">Account</th>
                                                <th class="text-right">Balance</th>
                                                <th class="text-right">Annual<br>Contribution</th>
                                                <th class="text-right">Advisory Fee</th>
                                                <th class="text-left">Updated</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="text-left">Savings Accout XXXX-XXXX-6...<br><span class="font-14">Savings</span></td>
                                                <td class="text-right">$1,000.00</td>
                                                <td class="text-right">-</td>
                                                <td class="text-right">-</td>
                                                <td class="text-left">4 minutes ago</td>
                                                <th><i class="ti-more-alt text-primary text-right"></i></th>
                                            </tr>
                                            <tr>
                                                <td class="text-left">Checking Accout XXXX-XXXX...<br><span class="font-14">Checking</span></td>
                                                <td class="text-right">$500.00</td>
                                                <td class="text-right">-</td>
                                                <td class="text-right">-</td>
                                                <td class="text-left">3 minutes ago</td>
                                                <th><i class="ti-more-alt text-primary text-right"></i></th>
                                            </tr>
                                            <tr>
                                                <td class="text-left">Credit Card XXXX-XXXX-XXX...<br><span class="font-14">Credit Card</span></td>
                                                <td class="text-right">-$300.00</td>
                                                <td class="text-right">-</td>
                                                <td class="text-right">-</td>
                                                <td class="text-left">1 minute ago</td>
                                                <th><i class="ti-more-alt text-primary text-right"></i></th>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>