<div class="row">
    <div class="col-md-7">
        <div class="text-uppercase m-t-40 p-t-30">
            <div class="pull-left">
                Period Since&nbsp;
            </div>
            <div>
                <span class="text-primary">Account Opened March 2015</span>
                <i class="mdi mdi-menu-down text-primary"></i>
            </div>
        </div>
        <div class="m-t-30 p-t-30">
            <p>
                <i class="mdi mdi-plus-circle-outline"></i> What you've invested
                <span class="pull-right">$91,144.83</span>
            </p>
        </div>
        <div>
            <p>
                <i class="mdi mdi-plus-circle-outline"></i> What you've earned
                <span class="pull-right text-danger">-$26.58</span>
            </p>
        </div>
        <div class="b-b" style="height: 10px"></div>
        <div class="text-black">
            <p>
                Earnings % <i class="mdi mdi-help-circle"></i>
                <span class="pull-right">0.0%</span>
            </p>
        </div>
    </div>
    <div class="col-md-5">
        <div id="{{sectionTitle}}"></div>
        <div class="b-b text-black">
            <p>
                Basket<span class="pull-right">Balance</span>
            </p>
        </div>
        <div class="text-black">
            <p>
                Bonds<span class="pull-right">$9,113.40</span>
            </p>
        </div>
    </div>
</div>